<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

    <title>Projet web</title>

    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.css">

    <link rel="stylesheet" href="assets/css/style.css">

    </head>
    
    <body>

    <!-- ***** Header Area Start ***** -->
        <header class="header-area header-sticky">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <img src="assets/images/logo4.png">
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li><a href="index.php">Home</a></li>
                            <li><a href="about.html">About Us</a></li>
                            <li class="dropdown">
                                <a class="dropdown-toggle active" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Our Services</a>
                              
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="car.php">Cars For sale</a>
                                    <a class="dropdown-item" href="indexloan.php">Rent A Car</a>
                                    <a class="dropdown-item active" href="Repair.php" >Repair Service</a>
                                    <a class="dropdown-item" href="reclamations.php" >Diagnostiques et reclamations</a>
                                </div>
                            </li>
                            <li><a href="forum.php">Forum</a></li>
                            <li><a href="contact.html">Contact Us</a></li> 
                            <li class="nav-item">
                                <a href="cart.php" ><i class="fa fa-shopping-cart"></i></a>
                            </li>
                            <li class="nav-item">
                              <a href="account.php" ><i class="fa fa-user"></i></a>           
                          </li>
                            
                        </ul>        
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->
<!-- ***** Main Banner Area Start ***** -->
<div class="main-banner" id="top">
    <video autoplay muted loop id="bg-video">
        <source src="assets/images/video.mp4" type="video/mp4" />
    </video>

    <div class="video-overlay1 header-text">
       
       
       
       
       
        <!--Cart-->
<section class="cart container my-5 py-5 ">
    <div class="container mt-5">
        <h2 class="font-weight-bolde" >Your Cart</h2>
        <hr>

    </div>
    <table class="mt-5 pt-5">
        <tr>
           <th>Product</th> 
           <th>Quantity</th>
           <th>Subtotal</th>
        </tr>
<tr>
    <td>
        <div class="product-info">
            <img src="assets/images/a.jpg" alt="">
            <div>
                <p>White car</p>
                <small><span>$</span>155</small>
                <br>
                <a class="remove-btn" href="#"> Remove</a>
            </div>
        </div>
    </td>

    <td>
        <input type="number" value="1" id="numero"/>
        <a class="edit-btn hr" href="#">Edit</a>

    </td>

    <td>
        <span>$</span>
        <span class="product-price">155</span>
    </td>
</tr>
<tr>
    <td>
        <div class="product-info">
            <img src="assets/images/a.jpg" alt="">
            <div>
                <p>White car</p>
                <small><span>$</span>155</small>
                <br>
                <a class="remove-btn" href="#"> Remove</a>
            </div>
        </div>
    </td>

    <td>
        <input class="numero" type="number" value="1" id="numero"/>
        <a class="edit-btn hr" href="#">Edit</a>

    </td>

    <td>
        <span>$</span>
        <span class="product-price">155</span>
    </td>
</tr>
    </table>

    <div class="cart-total">
    <table>
<tr>
    <td>Subtotal</td>
    <td>$155</td>
</tr>
<tr>
    <td>Total</td>
    <td>$155</td>
</tr>
    </table>
    </div>



<div class="checkout-container">
    <button class="btn checkout-btn ">Chechkout</button>
</div>


    
</section>
        </div>
    </div>
</div>
<!-- ***** Main Banner Area End ***** -->





    









<!-- ***** Footer Start ***** -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p>
                    Copyright © 2020 WHIZ-BANG
                    
                </p>
            </div>
        </div>
    </div>
</footer>






            <!-- Global Init -->
    <script src="assets/js/custom.js"></script>

</body>
</html>
    